###  Yahoo finance python API for retrieving time series data

Homepage:
https://github.com/ranaroussi/yfinance

In [1]:
import sys, os
scr_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(scr_dir)


from loader.load import YFinanceDataset

In [2]:
df = YFinanceDataset()
df = df.get_single_ticker('IBM')
df.head()

Date
2020-08-17    111.649597
2020-08-18    112.080254
2020-08-19    111.111275
2020-08-20    110.492172
2020-08-21    110.501160
Name: Close, dtype: float64

In [3]:
df = YFinanceDataset()
dfs = df.get_multiple_tickers(ticker_names=['MSFT', 'IBM', 'KO'])
dfs.tail()

            MSFT_Close   IBM_Close   KO_Close
Date
2021-12-06  326.190002  119.910004  54.910000
2021-12-07  334.920013  121.580002  55.209999
2021-12-08  334.970001  123.019997  55.000000
2021-12-09  333.100006  123.570000  54.860001
2021-12-10  342.540009  124.089996  56.279999

In [4]:
import yfinance as yf
data = yf.download("MSFT IBM KO", start="2017-01-01", end="2021-08-11")
data[['Adj Close']].head()

[*********************100%***********************]  3 of 3 completed

             Adj Close
                   IBM         KO       MSFT
Date
2017-01-03  127.079659  35.514397  58.185520
2017-01-04  128.653000  35.386948  57.925179
2017-01-05  128.227386  35.471920  57.925179
2017-01-06  128.858246  35.463425  58.427265
2017-01-09  127.429260  35.106575  58.241306